@tailwind base;

@font-face {
  font-family: "ia-writer-duo";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("/iAWriterDuoS-Regular.eot") format("OpenType"),
       url("/iAWriterDuoS-Regular.woff") format("woff"),
       url("/iAWriterDuoS-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "ia-writer-duo";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("/iAWriterDuoS-Bold.eot") format("OpenType"),
       url("/iAWriterDuoS-Bold.woff") format("woff"),
       url("/iAWriterDuoS-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "ia-writer-duo";
  font-display: swap;
  font-style: italic;
  src: url("/iAWriterDuoS-Italic.eot") format("OpenType"),
       url("/iAWriterDuoS-Italic.woff") format("woff"),
       url("/iAWriterDuoS-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "ia-writer-duo";
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  src: url("/iAWriterDuoS-BoldItalic.eot") format("OpenType"),
       url("/iAWriterDuoS-BoldItalic.woff") format("woff"),
       url("/iAWriterDuoS-BoldItalic.woff2") format("woff2");
}

@tailwind components;

@tailwind utilities;

:root {
  --accent: {{ with .Site.Params.accentColor }}{{ . }}{{ else }}var(--onyx){{ end }};
  --font: "ia-writer-duo";
}

.font-mono {
  font-family: var(--font), theme("fontFamily.mono") !important;
}

.mode-dark {
  .post, .content {
    h2 {
      @apply text-gray-400;
    }
    .medium-zoom-overlay {
      @apply bg-dark;
    }
    blockquote {
      a {
        text-shadow: -1px -1px 0 theme('colors.dark'), 1px -1px 0 theme('colors.dark'), -1px 1px 0 theme('colors.dark'), 1px 1px 0 theme('colors.dark');
        background-image: linear-gradient(to top, transparent, transparent 2px, theme('colors.blue.200') 2px, theme('colors.blue.200') 2.5px, transparent 2.5px);
      }
    }
  }
  .link, .post a, .content a {
    @apply text-blue-500 no-underline relative;
    text-shadow: -1px -1px 0 theme('colors.gray.900'), 1px -1px 0 theme('colors.gray.900'), -1px 1px 0 theme('colors.gray.900'), 1px 1px 0 theme('colors.gray.900');
    background-image: linear-gradient(to top, transparent, transparent 2px, theme('colors.blue.200') 2px, theme('colors.blue.200') 2.5px, transparent 2.5px);
    transition: color 0.5s, background-image 0.5s linear;
    &:hover {
      @apply text-blue-600 no-underline relative;
      text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
      background-image: linear-gradient(to top, transparent, transparent 2px , theme('colors.blue.300') 2px, theme('colors.blue.300') 2.5px, transparent 2.5px);
    }
  }
}

.link, .post a, .content a {
  @apply text-blue-500 no-underline relative;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px
  1px 0 white;
  background-image: linear-gradient(to top, transparent, transparent 2px, theme('colors.blue.500') 2px, theme('colors.blue.500') 2.5px, transparent 2.5px);
  transition: color 0.5s, background-image 0.5s linear;
  &:hover {
    @apply text-blue-600 no-underline relative;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    background-image: linear-gradient(to top, transparent, transparent 2px
    , theme('colors.blue.600') 2px, theme('colors.blue.600') 2.5px, transparent 2.5px);
  }
}

hr {
  @apply block mt-6 mb-10 border-b border-gray-200 w-2/4 mx-auto;
}

.post, .content {
  @apply mb-10;
  h1 {
   @apply my-6 pt-2 font-semibold block
  }
  h2 {
   @apply my-6 pt-2 text-gray-600 font-semibold block
  }
  ul {
   @apply list-disc list-inside my-8
  }
  p {
    @apply my-4
  }
  figcaption {
    @apply text-xs font-sans text-gray-500 text-center
  }
  blockquote {
    @screen md {
      @apply -mx-24;
    }
    @apply font-sans leading-snug text-blue-500 text-center italic text-2xl;
    a {
      text-shadow: -1px -1px 0 theme('colors.gray.200'), 1px -1px 0 theme('colors.gray.200'), -1px 1px 0 theme('colors.gray.200'), 1px 1px 0 theme('colors.gray.200');
      background-image: linear-gradient(to top, transparent, transparent 2px, theme('colors.blue.200') 2px, theme('colors.blue.200') 2.5px, transparent 2.5px);
    }
  }
}


// Expand Hugo templates

.pagination {
  @apply flex flex-row items-center justify-center py-10 font-sans text-xs
}

.pagination li {
  @apply p-2
}
.pagination li.active {
  @apply bg-gray-200 rounded px-4 py-2 text-sm
}
.mode-dark .pagination li.active {
  @apply bg-dark rounded px-4 py-2 text-sm
}

.pagination li.disabled {
    @apply opacity-25
}
.twitter-tweet {
  @apply mx-auto my-10
}
